.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 2rem;
  background-color: #8d2c00;
  color: #fffbbd;
}

.nav a {
  color: #fffbbd;
  text-decoration: none;
  font-size: 1.4rem;
}
