* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, sans-serif;
  margin: 3rem;
  background-color: rgb(246, 246, 234);
}

h1,
h2,
h3 {
  color: #434343;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #800040;
  color: azure;
  border: 1px solid #800040;
  border-radius: 2rem;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 1 4px rgb(0, 0, 0, 0.2);
  width: 20rem;
  padding: 1rem;
}

.actions {
  text-align: right;
}

.modal {
  background-color: whitesmoke;
  border-radius: 2rem;
  box-shadow: 0 1 4px rgb(0, 0, 0, 0.2);
  width: 30rem;
  padding: 1rem;
  position: fixed;
  z-index: 10;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
